<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>Data used in the visualization comes from the IMDB Dataset located at 
        <a href="https://www.imdb.com/interfaces/">https://www.imdb.com/interfaces/</a>.</p>
        <p>Two tsv files are used: 1. <b>title.basics.tsv.gz</b> which contains and not 
        limited to the unique identifier, title, start year, runtime and genres of movies, 
        TV-series and reality TV shows, etc. 2. <b>title.ratings.tsv.gz</b> which contains
        the unique identifier, average rating and the number of votes per title.</p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p style="font-size:18px">As per my filtering strategy, movies need to have more than 
	10,000 ratings to be selected. If the movie is this popular, it is not really possible 
	for the worlds' biggest movie database to fail to include it. And it is also less likely for 
	the IMDB to miss titles in the released spreadsheets. Therefore, I would consider this data
	complete.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p style="font-size:18px">Yes, after inspection, all fields are of correct type. There is 
	no column shift, the "genre" field has no small typos, ratings are within 0-10 range 
	and have at most one decimal digit, no duplicate records exist. The distribution of ratings
	looks normal, as the figure suggests.
	Overall, this is a well maintained dataset.</p>
	<img src="https://storage.googleapis.com/changx-byte2/byte2-data/rating_dist.png" 
	alt="rating_distribution">
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p style="font-size:18px">The unknown algorithm should ensure that the ratings are immune from 
	malicious ratings, and the ratings can be more reliable and represent the public opionion when 
	the number of ratings is large. However, the website is in English, which means it has a bias
	towards the movie preferences of English-speaking audiences. Therefore, the conclusion of any 
	study on this dataset may not be reasonably generalized for all audiences.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
